.character-page {
  margin: 10px;
  text-align: left;
}

.character-class-group {
  font-size: 20px; 
}

.character-details {
  font-size: 18px;
}

.character-attribute {
  font-weight: bold;
  font-size: 18px;
}

.character-attribute-value {
  font-size: 18px;
}